<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - {{user.username}}</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <!-- Otros estilos o scripts -->
</head>
<body>
    <header>
        <div class="logo">
            <img src="/image/logo.png" alt="Fennix Logo">
            <span>Fennix</span>
        </div>
        <nav>
            <ul>
                <li>Bienvenido, {{user.username}}</li>
                <li><a href="/cart">Carrito</a></li>
                <!-- Otros elementos de navegación si los hay -->
            </ul>
        </nav>
    </header>
    
    <main>
        <!-- Contenido principal de la página -->
    </main>
    
    <footer>
        <!-- Pie de página si es necesario -->
    </footer>
</body>
</html>

